<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-sdk tools:overrideLibrary="androidx.security"/>

    <application
        android:name=".core.ICSOpenVPNApplication"
        android:banner="@mipmap/banner_tv"
        android:allowBackup="true"
        android:appCategory="productivity"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/blinkt"
        tools:ignore="UnusedAttribute">
        <meta-data
            android:name="android.content.APP_RESTRICTIONS"
            android:resource="@xml/app_restrictions" />

        <activity
            android:name=".activities.DisconnectVPN"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=".DisconnectVPN"
            android:theme="@style/blinkt.dialog" />

        <service
            android:name=".core.OpenVPNService"
            android:exported="true"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:process=":openvpn">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" android:value="vpn"/>

        </service>
        <service
            android:name=".api.ExternalOpenVPNService"
            android:process=":openvpn"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="de.blinkt.openvpn.api.IOpenVPNAPIService" />
            </intent-filter>
        </service>
        <service
            android:name=".core.OpenVPNStatusService"
            android:exported="false"
            android:process=":openvpn" />

        <activity android:name=".api.GrantPermissionsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".api.ConfirmDialog"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <receiver android:name=".OnBootReceiver"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <service android:name=".core.keepVPNAlive"
            android:process=":openvpn"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>


        <activity
            android:name=".LaunchVPN"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:label="@string/vpn_launch_title"
            android:taskAffinity=".LaunchVPN"
            android:theme="@style/blinkt.dialog"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
        <receiver android:name="core.GetRestrictionReceiver">
            <intent-filter>
                <action android:name="android.intent.action.GET_RESTRICTION_ENTRIES" />
            </intent-filter>
        </receiver>
        -->
        <activity android:name=".api.RemoteAction"
            android:launchMode="singleInstance"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:taskAffinity=".LaunchVPN"
            android:theme="@style/blinkt.dialog"
            android:noHistory="true"
            />

        <activity-alias
            android:name=".api.ConnectVPN"
            android:exported="true"
            android:targetActivity=".api.RemoteAction" />
        <activity-alias
            android:name=".api.DisconnectVPN"
            android:exported="true"
            android:targetActivity=".api.RemoteAction" />
        <activity-alias
            android:name=".api.PauseVPN"
            android:exported="true"
            android:targetActivity=".api.RemoteAction" />
        <activity-alias
            android:name=".api.ResumeVPN"
            android:exported="true"
            android:targetActivity=".api.RemoteAction" />

        <activity
            android:exported="true"
            android:name=".activities.MainActivity"
            tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="openvpn" />
                <data android:host="import-profile" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.InternalWebView" />
        <activity
            android:name=".activities.CredentialsPopup"
            android:theme="@style/blinkt.dialog" />


        <activity
            android:name=".activities.LogWindow"
            android:allowTaskReparenting="true"
            android:label="@string/openvpn_log"
            android:launchMode="singleTask" />

        <activity
            android:name=".activities.VPNPreferences"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".activities.FileSelect" />
        <service
            android:exported="true"
            android:name=".OpenVPNTileService"
            android:icon="@drawable/ic_quick"
            android:label="@string/qs_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:value="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="false" />
        </service>
        <activity
            android:name=".activities.ConfigConverter"
            android:exported="true"
            android:excludeFromRecents="true"
            android:label="Convert Config File"
            android:theme="@style/blinkt"
            android:taskAffinity=".ConfigConverter"
            android:uiOptions="splitActionBarWhenNarrow"
            tools:ignore="ExportedActivity">
            <intent-filter
                android:label="@string/import_config"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/x-openvpn-profile" />
            </intent-filter>
            <intent-filter
                android:label="@string/import_config"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/ovpn" />
            </intent-filter>
            <intent-filter android:label="@string/import_config">

                <!-- http://stackoverflow.com/questions/7f030832/associating-certain-file-extension-to-my-android-application/7102838#7102838 -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern=".*..*..*..*..*.ovpn" />
                <data android:pathPattern=".*..*..*..*.ovpn" />
                <data android:pathPattern=".*..*..*.ovpn" />
                <data android:pathPattern=".*..*.ovpn" />
                <data android:pathPattern=".*.ovpn" />
            </intent-filter>
        </activity> <!-- https://commonsware.com/blog/2019/03/27/death-external-storage-stay-away-files.html -->
        <activity-alias
            android:exported="true"
            android:name=".activities.ConfigConverterFile"
            android:enabled="@bool/supportFileScheme"
            android:targetActivity=".activities.ConfigConverter">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*..*..*..*..*.ovpn" />
                <data android:pathPattern=".*..*..*..*.ovpn" />
                <data android:pathPattern=".*..*..*.ovpn" />
                <data android:pathPattern=".*..*.ovpn" />
                <data android:pathPattern=".*.ovpn" />
            </intent-filter>
        </activity-alias>

        <activity
            android:exported="true"
            android:name=".activities.CreateShortcuts"
            android:excludeFromRecents="true"
            android:label="@string/vpn_shortcut"
            android:taskAffinity=".CreateShortcuts"
            android:theme="@android:style/Theme.DeviceDefault.Light.DialogWhenLarge">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:exported="false"
            android:name=".activities.OpenSSLSpeed"
            android:label="@string/title_activity_open_sslspeed"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.blinkt.openvpn.activities.MainActivity" />
        </activity>


        <provider
            android:name=".FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="true"
            android:grantUriPermissions="true"
            tools:ignore="ExportedContentProvider" />
    </application>

</manifest>
